<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729666105352-6mnkdf9otlh0p2fkkrb6khjv95qjh15a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729666105352-6mnkdf9otlh0p2fkkrb6khjv95qjh15a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729666105352-jdode7op4ll6ao5l9ns536tnv6n630qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAit-_mqGj3-9MSjIjBhRVcMMQ4OjJ5WZs</string>
	<key>GCM_SENDER_ID</key>
	<string>729666105352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navitag.track</string>
	<key>PROJECT_ID</key>
	<string>track-navitag-com</string>
	<key>STORAGE_BUCKET</key>
	<string>track-navitag-com.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729666105352:ios:84abcbf78eabdc150ca1bd</string>
	<key>CFBundleURLTypes</key>
	<array>
			<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLSchemes</key>
					<array>
							<string>com.googleusercontent.apps.729666105352-6mnkdf9otlh0p2fkkrb6khjv95qjh15a</string>
					</array>
			</dict>
	</array>
</dict>
</plist>